* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html {
    font-size: 10px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(7, 21, 43);
    color: black;
}

.maryam {
    width: 150px;
    height: 150px;
    border-radius: 50%
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: whitesmoke;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.profile {
    grid-column: 1 / -1;
    margin-bottom: 2rem; 
    background-color: rgb(240, 206, 201);
    padding: 20px;
}

.profile_container {
    display: flex;
    gap: 2rem;
}    


.name {
    text-align: left;
    padding: 20px;
}

h1 {
    color: black;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(194, 10, 10);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.description {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    color: black;
}

/*Skills*/
.skill_list {
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
    font-size: 15px;
}

h3 {
    color: tomato;
    font-size: 30px;
    margin-top: 20px;
}

.pic {
    height: 15px;
    width: 15px;
}

/*education*/
.edu_item {
    margin-top: 20px;
}

.item_pretitle {
    font-size: 20px;
    color: black;
    font-weight: 300;
    margin-top: 15px;
}

.item_title {
    font-size: 25px;
    color: grey;
    font-weight: 500;
    margin-top:20px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.item_subtitle {
    font-size: 15px;
    color: rgb(192, 180, 159);
    font-weight: 400;
    margin-top: 15px;
}

.exp_item {
    margin-top: 2rem;
}

.group_2 {
    border-left: 3px solid #c7c7c7;
    height: 850px;
    width: 60%;
    margin: 10px;
    float: left;
}

.exp {
    padding: 20px;
}

.contact {
    font-size: 15px;
}

.contact p {
    margin-top: 15px;
}

